{% extends "template.html" %} {% block title %}Home{% endblock %} {% block
content %}
<h1>
  Groups
  <small>
    <a href="/logout">log out</a>
  </small>
</h1>

<div class="row toolbar">
  <form action="./admin" method="GET">
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="text"
        id="sample1"
        name="query"
        value="{% if query %}{{query}}{% endif %}"
      />
      <label class="mdl-textfield__label" for="sample1">Enter to search</label>
    </div>
  </form>
  {% if query %} &nbsp;
  <a
    href="/groups"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Clear search
  </a>
  {% else %} &nbsp;
  <a
    href="/groups/create"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    <i class="material-icons">add</i>&nbsp;New
  </a>
  {% endif %} &nbsp;
  <a
    href="/admin"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    <i class="material-icons">dynamic_feed</i>&nbsp;Manage posts
  </a>
</div>

<!-- Container -->
<div class="row">
  <div id="groups">
    {% if groups|length != 0 %}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th>Owners</th>
          <th>Members</th>
          <!-- <th>Edit</th> -->
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/groups/view?id={{group["_id"]}}">{{group["name"]}}</a>
          </td>
          <td>{{group["owners"]|length}}</td>
          <td>{{group["members"]|length}}</td>
          <!-- <td><a><i class="material-icons">edit</i></a></td> -->
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No results!</p>
    {% endif %}
  </div>
</div>
{% endblock %}
