{% extends "template.html" %} {% block content %}
<h1>Students' Gateway <small>admin portal</small></h1>
<p>
  Students' Gateway enables teachers to interact with students more conveniently
  on administrative matters.
</p>
<p>
  <a
    href="/login"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    >Teachers' Login</a
  >
</p>
<a
  href="https://example.com"
  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
  >Students: Download on play store!</a
>
<p></p>
<p>
  by Chi Junxiang & Loh Yu Chen 2020
  <br />
  Y3 CEP Final Project
  <br />
  <a href="https://github.com/SoInstant/students-gateway">View on GitHub</a>
</p>

{% endblock %}
